<strong>개발목표</strong>
<ul>
  <li>- 팀 구성 및 역할 분담을 통한 웹 애플리케이션을 개발</li>
</ul>
<br>
<strong>담당역할</strong>
<ul>
  <li>- PM, 서기</li>
  <li>- 회원가입/정보수정 파트 담당</li>
  <li>- TOP10 페이지 담당</li>
</ul>
<br>
<strong>구현기능</strong>
<ul>
  <li>- MVC 패턴 기반의 구조 설계 (Servlet + JSP + Java)</li>
  <li>- JDBC를 통한 Oracle DB 연동 및 DB 구성</li>
  <li>- 기본적인 CRUD를 통한 회원/게시판 관리 기능 구현</li>
  <li>- JavaScript를 이용한 프론트 유효성 검사 및 동적 처리</li>
  <li>- 사용자 편의를 위한 비동기 처리</li>
  <li>- 반응형 기반 UI 구성(가급적 순수 CSS 사용)</li>
  <li>- 관리자 계정 포함한 사용자 유형 구성(비회원 / 일반 / 기자 / 관리자)</li>
  <li>- 최신기사는 날짜순으로 정렬</li>
  <li>- 카테고리(여행지 / 맛집)별 기사는 조회수 높은순으로 정렬</li>
  <li>- 좋아요 수를 기준으로 인기 기사 Top10을 실시간 정렬하여 별도 페이지에 출력</li>
  <li>- 기사 검색 기능 (제목 / 내용 기준)을 최신기사 / 여행지 / 맛집 페이지별로 각각 구현</li>
</ul>